/******************************************************  
********************* IMPORT FONTS  ************************
******************************************************/
@font-face {
    font-family: 'Just Sans';
    src: url('../fonts/JUST Sans Regular.woff2') format('woff2'),
         url('../fonts/JUST Sans Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Just Sans';
    src: url('.../fonts/JUST Sans ExBold.woff2') format('woff2'),
         url('.../fonts/JUST Sans ExBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'TTHoves';
    src: url('../fonts/TTHoves-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'TTHoves';
    src: url('../fonts/TTHoves-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'TTHoves';
    src: url('../fonts/TTHoves-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'TTHoves';
    src: url('../fonts/TTHoves-DemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'TTHoves';
    src: url('../fonts/TTHoves-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'TTHoves';
    src: url('../fonts/TTHoves-Thin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}




*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/******************************************************  
*********************HEADER************************
******************************************************/

.site-header {
    width: 100%; /* Assure que le header prend toute la largeur de l'écran */
    border-bottom: 1px solid #e0e0e0;
    padding: 0 50px;
}

/* L'intérieur du header, prend toute la largeur disponible dans .site-header */
.header-container {
    width: 100%; /* Assure que le contenu du header prend toute la largeur de .site-header */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.site-logo img {
    width: 112px;
    height: 78px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px; /* Espacement entre chaque élément du menu */
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Style pour les liens du menu principal */
.nav-menu > li {
    position: relative;
}

.nav-menu li a {
    text-decoration: none;
    font-family: 'Just Sans', sans-serif;
    color: #333;
    font-size: 18px; /* Ajuste la taille de police pour correspondre à la maquette */
    line-height: 50px; /* Centrage vertical pour chaque lien */
    padding: 0 5px; /* Espacement autour du texte pour ajuster le positionnement */
    transition: color 0.3s;
}

.sub-menu{
     
    padding: 10px 30px 10px 0px !important;;
    background-color: #ff000000 !important;;
    box-shadow: none !important;;
}

.nav-menu li a:hover {
    color: #C9171E;
}

/* Style spécifique pour le bouton "Contacter le cabinet" */
#menu-item-24 {
    background-color: #C9171E;
    display: flex;
    width: 241px;
    height: 50px;
    padding: 5px 16px;
justify-content: center;
align-items: center;
}

#menu-item-24 a {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 18px; /* Ajustement pour correspondre à la taille du texte de la maquette */
}

#menu-item-24:hover {
    background-color: #a9131c;
}

/********************* SOUS-MENU MOBILE ************************/
.nav-menu li ul {
    display: none; /* Cache les sous-menus par défaut */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 10px 0;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Affiche le sous-menu lors du survol de l'élément parent */
.nav-menu li:hover > ul {
    display: block;
}


/******************************************************  
*********************MENU MOBILE  ************************
******************************************************/
/* Styles de base du bouton burger */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1001;
    position: relative;
}

.burger-menu span {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s;
}

/* Effet croix */
.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
}

.burger-menu.active span:nth-child(2) {
    opacity: 0; /* Cache la barre du milieu */
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 90%;
    left: 0;
    transform-origin: center;
}
/********************* Styles pour le menu mobile ************************/
 
/* Transformation du bouton burger en croix */
.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Transition pour le burger */
.burger-menu span {
    transition: all 0.3s;
}

/* Animation de slide du menu mobile */
.mobile-menu-overlay {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%; /* Hors écran au départ */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: right 0.6s ease-in-out; /* Transition de slide */
}

.mobile-menu-overlay.active {
    right: 0; /* Slide in */
}

.mobile-nav-menu {
    list-style: none;
    padding: 0;
    font-family: 'Just Sans', sans-serif;
     
}

.mobile-nav-menu li {
    margin: 15px 0;
    position: relative;
}

.mobile-nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: flex;
    justify-content: center;  
    align-items: center;  
    gap: 5px; /
}

/********************* Styles pour le sous menu mobile************************/
 

/* Cache le sous-menu par défaut */
.mobile-nav-menu .sub-menu {
    display: none;
    list-style: none;
  }
  
/* Chevron pour le lien parent avec sous-menu */
.mobile-nav-menu .menu-item-has-children > a::after {
    content: '▼'; /* Chevron down par défaut */
    font-size: 14px;
    color: #333;
     
    transition: transform 0.3s;
}

.mobile-nav-menu .menu-item-has-children > a.active::after {
    content: '▲'; /* Chevron up quand le sous-menu est ouvert */
}

/******************************************************  
********************* HOMEPAGE ************************
******************************************************/


/*******************BANNER*********************/
.home-banner{
     
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    align-items: flex-end;
    /* padding-left: 56px;
    padding-bottom: 80px; */
    box-sizing: border-box;

}

.home-banner-content{
     
    padding: 80px 56px; /* Uniforme autour de la bannière */
}

.home-banner h1 {
    font-family: "ivypresto-display", serif;
    font-size: 70px;   
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.home-banner p {
    font-family: "TTHoves";
    font-size: 30px;
    font-weight: 300;  
    line-height: 50px;
}

.home-banner p span {
    font-family: "TTHoves";
    font-size: 30px;
    font-weight: 500;  
    font-style: italic;
    line-height: 50px;
}

/****effet texte ****/

.animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px); /* Départ en haut */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-text span.show {
    opacity: 1;
    transform: translateY(0); /* Arrivée à la position normale */
}




/*******************ABOUT SECTION*********************/
.home-about{
    
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 123px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-main-title h2{
    font-family: "ivypresto-display", serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    
}

 
.about-section-text{
     
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    color: #4F4F4F;
    
}

.about-text{
    display: flex;
    flex-direction: column;
    gap:35px ;
}

.about-text p{
     
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;  
    line-height: 40px;
    width: 100%;
    color: #333;  
    margin: 0;  
    padding: 0 20px;  
}

.about-btn{
    width: 100%;
}

.about-btn button{
   
   color: #C9171E;
   background-color: transparent;
   display: flex;
    align-items: center;
    gap: 20px;
    font-family: "TTHoves";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
}

.svg-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;  
    height: 80px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform-origin: center;
    position: relative;
    
}

.svg-circle:hover{
    transform: scale(1.1);
    
 }

.svg-circle svg {
    width: 25.456px;
    height: 21.758px;
    color: #C9171E;
    position: relative;
    transition: transform 0.3s ease;
   
}

.svg-circle:hover svg {
    transform: translate(3px, -3px);
    transition: transform 0.3s ease;
}
 

/*******************ABOUT SECTION RED*********************/
.home-about-red{
    background-color:black;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 64px;

}

 

.about-red-title h2{
    font-family: "ivypresto-display";
    color: white;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.about-red-title .about-red-title-italic{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
}




/*******************CAROUSEL*********************/

.about-red-caroussel {
    position: relative;
    background-color: black;
    padding: 50px;
    overflow: hidden;
  }
  
  .carousel-indicators {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(201, 23, 30, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active {
    background-color: #c9171e;
  }
  
  .carousel-slides-title {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 100px;
     
    width: 100%;
  }
  
  .caroussel-slide {
    min-width: 33.33%;
    text-align: center;
    transition: transform 0.5s ease, color 0.5s ease;
    color: rgba(255, 255, 255, 0.5); /* Couleur gris clair par défaut */
    
  }
  
  .caroussel-slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .caroussel-slide.hide-left {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .carousel-slides-title h3 {
    font-family: "ivypresto-display", serif;
    font-size: 40px;
    font-weight: 400;
    color: #ada4a4ab;
    transition: color 0.3s;
    text-align: left;
  }
  
  .carousel-slides-title .caroussel-slide.active h3 {
    color: #c9171e;
  }
  
  .caroussel-slide-content {
    color: white;
    position: relative;
    margin-top: 20px;
  }
  
  .about-red-text {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .about-red-text.active {
    opacity: 1;
  }
  
  .carousel-slides-title .caroussel-slide.inactive h3 {
    color:  rgba(201, 23, 30, 0.3);; 
  }
  
























/*******************SECTION CHIFFRE*********************/

.home-about-confiance{
    
    padding: 104px;

}

.confiance-title{
    
    text-align: center;
}

.confiance-title h3{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.confiance-title h3 span{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;

}

.confiance-number{
     
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
}


.number-left-main, .number-right-main{
    font-family: "ivypresto-display";
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    color: #C9171E;
    margin: 0;
}

.number-left-content, .number-right-content{
    font-family: "TTHoves";
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
}

/*******************SECTION KLP VS ACCOMPAGNE*********************/

.home-about-accompagnement{
    background-color:#222 ;
     
}

.accompagnement-title{
    padding: 100px 50px;
}

.accompagnement-title h2{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    color: white;
}

.accompagnement-title h2 span{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
}

.accompagnement-content{
     
    display: flex;
    gap: 180px;
}

.accompagnement-content-img{
     
    margin-bottom: 100px;
}

 

.accompagnement-content-list ul li{
    font-family: "ivypresto-display";
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    list-style: none;
    color: white;
    margin-bottom: 20px; /* Espacement entre les éléments */
     
    
}

.location-link {
    font-family: "TTHoves";
    color: #ffffff; /* Couleur du lien */
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
   font-weight: 300;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5px; /* Espace entre le nom de la ville et le lien */
    padding-left: 35px;
}

.location-link img {
    display: block;
    width: 15px; /* Taille ajustée pour la flèche */
    height: 15px;
    margin: auto;
}

.location-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-link .location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;  
    height: 30px;
    border-radius: 50%;
    border: 1px solid #C9171E;
    flex-shrink: 0;
}

.location-link img {
    width: 12px;  
    height: 12px;
}
 

.location-link:hover {
    text-decoration: underline;
}


/*******************SECTION NOTRE EQUIPE*********************/

.home-notre-equipe{
    
    padding: 102px 57px 82px 57px;
   position: relative;
   display: flex;
   justify-content: space-around;
}

 
.notre-equipe-title h3{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.notre-equipe-title h3 span{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
}

 

/***CARDS ***/

.notre-equipe-card{
     
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 33px;
    position: relative;
}

.card-1, .card-2{
    
    width: 467px;
    height: 301px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s ease;
}

.card {
    
    width: 467px;
    height: 301px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    
}

.card-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    padding: 25px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
}

.card-overlay h4 {
    font-family: "TTHoves";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: white;
}

.card-overlay p {
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: white;
}

.arrow-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid 1px white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.arrow-icon img {
    width: 17px;
    height: 12px;
   
}

.section-separator{
    margin-right: 50px;
    margin-left: 50px;
    height: 1px;
    background-color: #000;
}

.slider-prev, .slider-next{
    display: none;
}

 



/***********ATUALITES *********/

.home-section-actualites{
     
    padding: 104px 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actualites-titre h2{
    font-family: "ivypresto-display";
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-bottom: 40px;
}

.actualites-titre h2 span{
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
}

/*****ACTU CONTAINER***/

.actualites-content{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;

}
.actu-container{
   border-top: 1px solid red;
   height: 200px;
   width: 500px; 
   padding-top: 15px ;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   
}

.actu-container h4{
    margin: 0;
    color: #C9171E;
    font-family: "TTHoves";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    
}

.actu-content{
    
    font-family: "TTHoves";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin: 0;
    
}

.actu-date{
    font-family: "TTHoves";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.actu-date a {
    font-family: "TTHoves";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    color: gray;
}

.actualite-boutton{
    display: flex;
    justify-content: center;  
    margin-top: 40px;
     
}

.actualite-boutton button {
    color: #C9171E;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1px;
    font-family: "TTHoves";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    gap: 20px;
}

.actualite-boutton button .svg-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Diamètre du cercle */
    height: 60px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    border-radius: 50%;
}

.actualite-boutton button .svg-circle svg {
    width: 25.456px;
    height: 21.758px;
    color: #C9171E;
}

.actualite-boutton button:hover .svg-circle {
    transform: translateX(5px); /* Animation de déplacement */
    transition: transform 0.3s ease;
}


/************** Structure principale du footer ****************/
.footer {
    background-color: #1E1E1E; /* Couleur de fond */
    padding: 40px 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Conteneur principal pour organiser les colonnes */
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* Section de gauche */
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer-left h3 {
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.footer-left p {
    font-family: "ivypresto-display";
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

/* Bouton de contact */
.contact-button {
    background-color: #C9171E; /* Couleur rouge du bouton */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    width: 241px;
    height: 50px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* Section de droite avec deux colonnes */
.footer-right {
    display: flex;
    gap: 50px;
}

.footer-links h4, .footer-addresses h4{
    font-family: "TTHoves";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
   
}

.footer-links,
.footer-addresses {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu ul, .footer-addresses ul{
    padding: 0;
}

.footer-menu li {
    list-style: none;
}

.footer-menu a {
    color: #ffffff;  
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;  
}

/* Section des bureaux */
.footer-addresses ul li {
    list-style: none;
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.footer-addresses li {
    font-size: 14px;
    color: #ffffff;
}

/* Ligne de séparation dans le bas du footer */
.footer-bottom span{
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.footer-bottom {
    border-top: 1px solid #444444;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 12px;
    margin-top: 30px;
}

.cabinet{
    border:solid 1px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 123px;
    padding-left: 50px;
    padding-right: 50px;
}




.cabinet__header{
    border: solid 1px red;
}

.cabinet__intro {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1200px; 
    margin: auto; 
    gap: 66px; 
}

.cabinet__title {
    flex: 1;  
    max-width: 40%;  
}

.cabinet__subtitle {
    flex: 1;
    max-width: 50%;  
    text-align: left;  
}

.cabinet__subtitle p{
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;  
    line-height: 40px;
    width: 100%;
    color: #333;  
    margin: 0;  
    padding: 0 20px; 
}

.cabinet__title h1 {
    font-family: "ivypresto-display", serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
}

.cabinet__title span{
    font-style: italic;
}

.cabinet__founders{
    display: flex;
    justify-content: center;   
    gap: 40px;  
    max-width: 1200px;  
    margin: 50px auto 0;
}

.cabinet__founder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
    width: 568px;
    height: 597px;
    text-align: center;
}

.cabinet__founder-img{
    width: 100%;
    height: 483px; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cabinet__founder-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.cabinet__founder-name{
    font-family: "TTHoves";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    color: black;
}

.cabinet__founder-info {
    width: 100%;
    padding: 10px 0;  
    text-align: left;
}

.cabinet__founder-description{
    font-family: "TTHoves";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: black;
}
