/* Large Desktop - 1200px et plus */
@media (max-width: 1200px) {
    .home-banner-content {
         
        padding: 70px 50px;
    }
    .about-main-title h2 {
        font-size: 40px;
    }
    .about-section-text {
        padding: 0 30px;
    }
}

/* Desktop - 992px et plus */
@media (max-width: 992px) {
    .home-banner-content {
        padding: 60px 40px;
    }

    .about-main-title h2 {
        font-size: 35px;
    }
    .about-text p {
        font-size: 18px;
        line-height: 35px;
    }
    .about-btn button {
        gap: 5px;
    }

    .accompagnement-content{
        display: flex;
        gap: 50px;
    }

    .actualites-content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
}

/* Tablette - 768px et plus */
@media (max-width: 768px) {
    .home-banner {
        height: 60vh;  
        align-items: center;  
    }

    .home-banner h1 {
        font-size: 40px; /* Ajuste la taille du h1 pour les petits écrans */
    }

    .home-banner p {
        font-size: 18px; /* Ajuste la taille du paragraphe pour les petits écrans */
    }

    .home-banner-content {
         
        padding: 50px 30px;
    }

    .about-main-title h2 {
        font-size: 32px;
    }
    .about-text p {
        font-size: 16px;
        line-height: 30px;
        padding: 0 15px;
    }
    .svg-circle {
        width: 50px;
        height: 50px;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
    }

    .footer-right{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

}

/* Mobile large - 576px et plus */
@media (max-width: 576px) {
    .home-banner-content {
         
        padding: 40px 20px;
    }

    .about-text p {
        font-size: 15px;
        line-height: 28px;
    }
    .svg-circle {
        width: 45px;
        height: 45px;
    }


}

/* Mobile - 375px et plus */
@media (max-width: 375px) {
    .home-banner-content {
        
        padding: 30px 15px;
    }
    
    .about-main-title h2 {
        font-size: 24px;
    }
    .about-text p {
        font-size: 14px;
        line-height: 25px;
        padding: 0 10px;
    }
    .svg-circle {
        width: 40px;
        height: 40px;
    }

}

/* Mobile Navigation adjustments */
@media (max-width: 1000px) {
    .main-navigation {
        display: none;  
    }
    .burger-menu {
        display: flex;  
    }
    .mobile-menu-overlay.active {
        display: flex;  
    }

    .mobile-nav-menu .sub-menu {
        padding: 0 !important;
        text-align: center;
        background-color: transparent;
        box-shadow: none;
    }
}